/***********
*Foundation*
***********/
@import 'foundation/reset';
@import 'foundation/variables';


/*******
*Layout*
*******/




/*******
*Object*
*******/
@import 'object/component/button';
@import 'object/utility/utility';

header {
    background-color: #000000;
    padding: 50px;
    overflow: hidden;

}
.header-title{
    color: #FFFFFF;
    font-size: 70px;
    float: left;
}
.menu{
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
    float: right;
}
.menu div{
    position: absolute;
    left: 0;
    height: 4px;
    width: 30px;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}
.menu div:nth-of-type(1){
    top: 0;
}
.menu div:nth-of-type(2){
    top: 10px;
}
.menu div:nth-of-type(3){
    bottom: 0;
}
img {
    width: 100%;
    display: block;
}
.home-content {
    background-color: #000000;
    padding: 30px;

}
.home-catch {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 2;
    text-align: center;
    margin: 20px;

}
.home-access {
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}
.home-sm{
    margin: 30px;
    border-bottom: #000000 8px solid;
    padding: 20px;
    line-height: 30px;
}
.rr{
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    h2{
        font-size: 45px;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    h3{
        font-size: 38px;
        padding-bottom: 50px;
    }
    
}