.c-button {
    font-size: 60px;
    background-color: pink;
    display: inline-block;
}

/* 「今すぐ申し込む」のボタン */
.c-apply-button {

    &--normal {

    }

    &--poppy {

    }

    &--classical {

    }

    &--jazz {

    }
}
